.photo {
  border-color: #99bbff;
  border-style: solid;
  margin-left: 40px;
  height:320px;
  margin-top: 20px;

}


body {
  display: flex;
  margin: 50px 0px 50px 0px;
  position: absolute;

}
header {
  position: absolute;
  border-color: #99bbff;
  color: #99bbff;
  border-style: solid;
  text-align: center;
  height: 20px;
  width: 20px;
  margin-left: 351.4px;
  margin-top: 20px;
}

header:hover { background-color: #99bbff;
}

ul {
  display: flex;
  list-style-type: none;
  margin: -7px 0px 0px 0px;
}

li {
  border-style: solid;
  border-color: #99bbff;
  color: #99bbff;
  display: flex;
  height: 10px;
  width: 20px;
  text-align: center;
  border: 3px 3px 3px 3px;
  padding: 8px 20px 20px 21.5px;
}
li:hover { background-color: #99bbff;
}
#text {
  color: #99bbff;
  font-family: sans-serif;
  display: inline-block;
  padding-top: 10px;
}

h1 {
  display: inline;
  margin-left: 50px;
  font-size: 20px;
}
h2 {
  display: inline;
  margin-left: 140px;
  font-size: 20px;
  margin-top: 10px;
}
.shirtcolor {

  height: 30px;
  width: 30px;
}
.dropdown{
      float: left;
      display: none;
}
